
# Ignore everything
*

# Except for stuff,
!.gitignore
!LICENSE
!TODO.md
!README.md

!Utilities/
!Utilities/*.cxx
!Utilities/README.raw.md
!Utilities/*.py

# Source files,
!src/
!src/*.cpp
!src/*.hpp

# Display script,
!Display.py

# Test files,
!Tests/
!Tests/*.txt
!jsonl/
!jsonl/*.jsonl
!summary/
!summary/*.tex
!summary/*.txt

# pdf file
!pdf/
!pdf/*.tex
!pdf/*.pdf
