
# Ignore everything
*

# Except for stuff,
!.gitignore
!LICENSE
!TODO.md
!README.md
!README.raw.md
!readmer.py

# Source files,
!src/
!src/*.cpp
!src/*.hpp

# Display script,
!Display.py

# Test files,
!Tests/
!Tests/*
!jsonl/
!jsonl/*
!Summary/
!Summary/*

# pdf file
!pdf/
!pdf/*.tex
!pdf/*.pdf