
# Ignore everything
*

# Except for stuff,
!.gitignore
!LICENSE
!TODO.md
!README.md

!Utilities/
!Utilities/Third_Party
!Utilities/Third_Party/*.hpp
!Utilities/*.cxx
!Utilities/README.raw.md
!Utilities/*.py

# Source files,
!src/
!src/*.cpp
!src/*.hpp

# Display script,
!Display.py

# Test files,
!Tests/
!Tests/*.txt
!jsonl/
!jsonl/*.jsonl

# Summaries are heavy and can be easily buildt from .jsonl
# !summary/
# !summary/*.tex
# !summary/*.txt

# pdf file
# We don't want this yet
# !pdf/
# !pdf/*.tex
# !pdf/*.pdf
